// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 250px;
}

.details {
  padding: 10px;
  background-color: lightgrey;
}

.task {
  padding: 10px;
  margin-bottom: 50px;
}
